body {
    background-color: #171A21;
    color: #FFF8DC;
    font-family: sans-serif;
}

h4 {
    font-size: 20px;
    font-weight: 100;
    padding-top: 5px;
}

.presentación {
    margin: 0;
    padding: 20px;
    text-align: center;

}

.cards {
    margin-top: 20px;
}

.img-fluid {
    transition: all 0.4s ease;
}

.img-fluid:hover {
    opacity: 60%;
    cursor: pointer;
    transform: scale(1.1);
}